<div class="login-form">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="handelForgotPassword()">
    <h1>Change Password</h1>
    <div class="content">
      <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
      <div class="input-field">
        <input type="text" placeholder="LoginId" formControlName="loginId">
        <div class="alert alert-danger" *ngIf="forgotPasswordForm.get('loginId')?.invalid && forgotPasswordForm.get('loginId')?.touched">
          LoginId Required
        </div>
      </div>
      <div class="input-field">
        <input type="text" placeholder="Email" formControlName="email">
        <div class="alert alert-danger" *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          Email Required
        </div>
      </div>
      <div class="input-field">
        <input type="password" placeholder="New Password" formControlName="password">
        <div class="alert alert-danger" *ngIf="forgotPasswordForm.get('password')?.invalid && forgotPasswordForm.get('password')?.touched">
          Password Required
        </div>
      </div>
      <div class="input-field">
        <input type="password" (change)="checkPasswordMatching(forgotPasswordForm.get('password')?.value,forgotPasswordForm.get('confirmPassword')?.value)" (keyup)="checkPasswordMatching(forgotPasswordForm.get('password')?.value,forgotPasswordForm.get('confirmPassword')?.value)" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class="alert alert-danger" *ngIf="forgotPasswordForm.get('confirmPassword')?.invalid && forgotPasswordForm.get('confirmPassword')?.touched">
         <div *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm Password Required</div>
        </div>
        <div class="alert alert-danger" *ngIf="showValidationError">Password and Confirm Password should match</div>
      </div>
    </div>
    <div class="action">
      <button *ngIf="showChangePasswordButton" [disabled]="forgotPasswordForm.invalid"  type="submit">Change Password</button>
      <button *ngIf="showBackButton"  (click)="backToLoginPage()">Go To Login Page</button>
    </div>
  </form>
</div>
